{% for item in quagga_bgp_configs %}
{%  if item.name == router %}
router bgp {{ item.local_as }}
 bgp router-id {{ item.router_id }}
 bgp log-neighbor-changes
{%   for nbr in item.neighbors %}
 neighbor {{ nbr.neighbor }} remote-as {{ nbr.remote_as }}
 neighbor {{ nbr.neighbor }} advertisement-interval 0
 neighbor {{ nbr.neighbor }} timers connect 3
{%   endfor %}
 maximum-paths 64
{%  endif %}
{% endfor %}w